body {
    background-color: #7e99a5;
}

a {
    text-decoration: none;
    color: #130227;
}

a:hover {
    color: #5bc3f3;
}

nav {
    background-color: #6b7fac;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.listOnTheSameLine {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    padding-left: 40px;
}

.paddingOnLeft {
    padding-left: 40px;
}

.flexbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.profileImage {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 200px;
    /*border: 2px solid black;*/
}

.text {
    display: flex;
    max-width: 50%;
    font-size: 20px;
}
.text2{
    font-size: 20px;
    padding-right: 40px;
}

.border {
    border: 1px solid #130227;
    padding: 20px;
}

.li-line {
    border-right: 1px #130227 solid;
    margin-right: 18px;
    margin-left: 10px;
}

.title2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 40px;
}

.image{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.li-space{
    margin-left: 40px;
}