body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: sans-serif;
    font-size: 36px;
}

p{
    width: 600px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}

img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 275px;
}

button{
    width: 200px;
    height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: hsl(208, 100%, 87%);
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 24px;
}

button:hover{
    background-color: hsl(208, 100%, 67%);
}


.imgBtn{
    display: flex;
    justify-content: space-around;
}

.imgBtn button{
    margin-left: 30px;
    margin-top: 70px;
}

.btn{
    background-color: hsl(0, 100%, 80%);
}

.btn:hover{
    background-color: hsl(0, 100%, 60%);
}

button:active{
    background-color: hsl(208, 100%, 77%);
}