.pCSS{
    color: blue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

main{
    display: flex;

}

section{
    width: 50%;
    margin-left: 20px;
}