main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.mainLeft {
    margin-top: 60px;
    margin-bottom: 418px;
    margin-left: 165px;
    margin-right: 98px;
    width: 520px;
    height: 330px;
}

.mainRight {
    margin-right: 165px;
}

h1 {
    font-family: "Red Rose", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    color: #091133;
    margin-bottom: 16px;
    width: 520px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    text-align: justify;
    margin-bottom: 52px;
}

.btn {
    height: 36px;
    width: 190px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #111B47;
    border: none;
    color: white;
    margin-left: 56px;
    font-weight: 600;
}

.btnWhite {
    height: 36px;
    width: 190px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background-color: white;
    border: 2px solid black;
    color: #091133;
    margin-left: 29px;
}

img {
    width: 492px;
    height: 1031px;
}

.btn:hover {
    cursor: pointer;
}