img {
    width: 120px;
    height: 120px;
}


main {
    display: flex;
    height: 97vh;
    align-content: center;
    justify-content: space-around;
    background-color: antiquewhite;

}

.circle {
    border-radius: 50%;
}


.cat {
    border: 5px solid #25fc09;
}


.camel {
    border: 5px solid #c9bf07;
}


.horse {
    border: 5px solid #ee0b0b;;
}

.mainContainer {
    display: flex;
    justify-content: center;
}