header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  background-color: coral;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  color: antiquewhite;
  font-style: normal;
  text-align: center;
}

h1{
  flex: 1;
  display: flex;
  justify-content: center;
}
.flex-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


body {
  background-color: antiquewhite;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: antiquewhite;
  padding: 2rem;
  margin-top: 20px;
}

.box{
  margin-top: 1vh;
  display: flex;
  width: 70vh;
  height: 70vh;
  background-color: coral;
  border-radius: 10px;
}

.bigBox{
  margin-top: 1vh;
  display: flex;
  width: 88vh;
  height: 70vh;
  background-color: coral;
  border-radius: 10px;
}

.ret{
  margin-top: 1vh;
  width: 70vh;
  height: 90vh;
  background-color: coral;
  border-radius: 10px;
}

.ret2{
  margin-top: 1vh;
  width: 60vh;
  height: 90vh;
  background-color: coral;
  border-radius: 10px;
}

.ret3{
  margin-top: 1vh;
  width: 80vh;
  height: 90vh;
  background-color: coral;
  border-radius: 10px;
}

.greenCat {
  width: 16vh;
  height: 16vh;
  border-radius: 50%;
  border: 5px solid rgb(31, 168, 31);
}

.yellowCat {
  width: 16vh;
  height: 16vh;
  border-radius: 50%;
  border: 5px solid yellow;
}

.redCat {
  width: 16vh;
  height: 16vh;
  border-radius: 50%;
  border: 5px solid red;
}


.fase1 {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.fase2 {
  display: flex;
  justify-content: center;
}

.fase3 {
  display: flex;
  justify-content: space-around;
}

.fase4 {
  display: flex;
  justify-content: space-between;
}

.fase5 {
  display: flex;
  align-items: flex-end;
}

.fase6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fase7 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.fase8 {
  display: flex;
  flex-direction: row-reverse;
}

.fase9 {
  display: flex;
  flex-direction: column;
}

.fase10 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fase11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fase12 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.fase13 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.fase14 {
  display: flex;
}

.yellow1 {
  order: +1;
}

.fase15 {
  display: flex;
}

.red-3 {
  order: -3;
}

.fase16 {
  display: flex;
  align-items: flex-start;
  height: 80vh;
}

.yellowFlexEnd {
  align-self: flex-end;
}

.fase17 {
  display: flex;
  align-items: flex-start;
  height: 80vh;
}

.yellow2 {
  order: +2;
}

.fase18 {
  display: flex;
  flex-wrap: wrap;
}

.fase19 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fase20 {
  display: flex;
  flex-flow: column wrap;
}

.fase21 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.fase22 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.fase23 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
}

.fase24 {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
}

.btn {
  background-color: coral;
  border: none;
  /* No border */
  color: white;
  /* White text */
  padding: 15px 20px;
  /* Padding for button size */
  text-align: center;
  /* Centered text */
  text-decoration: none;
  /* Remove underline */
  display: inline;
  /* Inline element */

  font-size: 16px;
  /* Font size */
  margin: 10px 2px;
  /* Margin around the button */
  cursor: pointer;
  /* Pointer cursor on hover */
  border-radius: 8px;
  /* Rounded corners */
  transition: background-color 0.3s ease;
  /* Smooth hover transition */
}

/* Hover effect */
.btn:hover {
  background-color: rgb(243, 74, 13);
}

.height110 {
  height: 110vh;
}

.height80 {
  height: 80vh;
}

.height90 {
  height: 90vh;
}

.gridCointainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 colunas */
  grid-template-rows: repeat(6, 1fr);
  /* 6 linhas */
  gap: 10px;
  /* Espaçamento entre os itens */
  padding: 2rem;
}

.grid-item {
  background-color: coral;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: rgb(243, 74, 13);
}

.back-btn {
  background-color: rgb(243, 74, 13); 
  color: antiquewhite;
  padding: 20px 10px; /* Espaçamento dentro do botão */
  text-align: center;
  text-decoration: none; /* Remover sublinhado */
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px; 
  margin-right: 20px;/* Margem para espaçar do título */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease;
  height: 5vh;
}

